<%= form_for @changeset,
             villa_attack_movement_path(@conn, :create, @current_villa.id),
             [method: :post],
             fn f -> %>
  <%= if f.errors != [] do %>
    <div class="alert alert-danger">
      <p>Please check the errors below:</p>
      <ul>
        <%= for {_, message} <- f.errors do %>
          <%= translate_error(message) %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_input(:attack_movement, :target_id, value: @target.id) %>

  <div class="form-group">
    <label class="control-label">
      Target:
    </label>
    <%= @target %>
  </div>

  <div class="form-group">
    <label class="control-label">
      Units:
    </label>

    <table>
      <tr>
        <%= for {k, u} <- LaFamiglia.Unit.all do %>
          <td>
            <%= k %>: <%= text_input f, k, class: :"form-control" %>
            (out of <%= LaFamiglia.Unit.number(@current_villa, u) %>)
          </td>
        <% end %>
      </tr>
    </table>
  </div>

  <button class="btn btn-primary" type="submit">Send</button>
<% end %>
