<h1>Ranking</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Number of villas</th>
    <th>Points</th>
  </tr>
  <%= for p <- @players do %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.villa_count %></td>
      <td><%= p.points %></td>
    </tr>
  <% end %>
</table>
