<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>La Famiglia – un’offerta nessuno può rifiutare</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= if @current_player do %>
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">La Famiglia</a>
          </div>
          <div class="navbar-collapse collapse">
            <%= if @current_villa do %>
              <ul class="nav navbar-nav">
                <li><%= link coordinates(@current_villa), to: villa_path(@conn, :show, @current_villa)%></li>
                <li><%= link "Villas", to: villa_path(@conn, :index) %></li>
                <li><%= link "Troops", to: movement_path(@conn, :index) %></li>
                <li><%= link "Map", to: map_path(@conn, :show, @current_villa.x, @current_villa.y) %></li>
                <li><%= link "Messages", to: conversation_path(@conn, :index) %></li>
                <li><%= link "Reports", to: report_path(@conn, :index) %></li>
                <li><%= link "Ranking", to: player_path(@conn, :index) %></li>
              </ul>
            <% end %>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-user"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link "Logout", to: session_path(@conn, :delete), method: :delete %></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

          <%= render @view_module, @view_template, assigns %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <script>require("web/static/js/app")</script>
  </body>
</html>
