<h1>Eventually you will find a landing page</h1>

<%= if @current_player do %>
  <p>Hello <%= @current_player.name %>! You are logged in.</p>
<% else %>
  <p>Right now, there is not much you can do. Maybe you want to
    <a href="<%= Routes.player_path(@conn, :new) %>">register?</a>
    If you are already registered you can of course
    <a href="<%= Routes.session_path(@conn, :new) %>">log in.</a></p>
<% end %>
