// Some of what follows was initially extracted from
// https://github.com/hyspace/typeahead.js-bootstrap3.less/blob/master/typeahead.less.
.twitter-typeahead {
  width: 100%;
  position: relative;
  display: inline-block;
}

input.tt-hint {
  position: absolute;
  top: 0;
  left: 0;
}

input.tt-input {
  position: relative;
  background-color: transparent;
}

.tt-dropdown-menu, .tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;

  padding: 5px 0;
  margin: 2px 0 0;
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-border;
  border-radius: $border-radius-base;
  @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));

  h4 {
    padding: 3px 20px;
  }

  .tt-suggestion {
    display: block;
    padding: 3px 20px;
    color: $dropdown-link-color;

    &.tt-cursor, &:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: $dropdown-link-hover-bg;
      @include gradient-vertical($start-color: $dropdown-link-hover-bg, $end-color: darken($dropdown-link-hover-bg, 5%));
    }
  }

  p {
    margin: 0;
  }
}
