div.map-viewport {
  position: relative;
  overflow: hidden;
}

$map-cell-width: 5em;
$map-y-axis-labels-width: 2em;

div.map {
  position: relative;
  margin-left: $map-y-axis-labels-width;

  div.row {
    clear: both;
    position: relative;
  }
}

div.x-axis-label {
  float: left;
  width: $map-cell-width;
  text-align: center;
  margin-bottom: 0.3em;
}
div.y-axis-label {
  position: absolute;
  left: -1.5 * $map-y-axis-labels-width;
  width: $map-y-axis-labels-width;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* The following rules are based on the blog entry found at:
 * http://www.mademyday.de/css-height-equals-width-with-pure-css.html
 */

div.row div.cell {
  float: left;
  position: relative;
  width: $map-cell-width;
}
div.row div.cell:before {
  content: "";
  display: block;
  padding-top: 100%;
}

div.cell {
  div.villa {
    border: 1px solid lighten($gray-light, 40%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
