ul.reports {
  padding: 0;

  li {
    list-style: none;
    width: 100%;
    margin-bottom: 0.4em;
    background: $input-bg;
    border: 1px solid $input-border;

    a {
      display: inline-block;
      width: 100%;
      padding: 0.6em 1.0em;
      text-decoration: none;
      color: inherit;
    }
  }
}
