ul.info-box {
  @include overlay-box;
  @include box-shadow(0 1px 3px rgba(0, 0, 0, .175));

  li {
    display: inline-block;
    list-style: none;
  }
}

th.recruit {
  min-width: 10em;
}
form.link {
  display: inline;
}

div.buildings {
  @include overlay-box;

  div.building:not(:last-child) {
    margin-bottom: 0.6em;
  }
  div.building {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    div.queue-item {
      flex-basis: 100%;
      padding-bottom: 0.5em;
      color: $gray-light;
    }
  }
}
