@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/theme";

$body-bg: #EEE;

body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: $body-bg;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

ul.dropdown-menu .link > a {
  display: block;
  padding: 3px 20px;
  color: #333;
  text-decoration: none;

  &:hover {
    background-color: #E2E2E2;
  }
}

div.navbar div.resources, div.supply {
  padding: 15px;
}

@import "fonts";
@import "link_list";
@import "overlay_box";

@import "player";
@import "villa";

@import "conversation";
@import "map";
@import "player_selector";
