@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/theme";

body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #EEE;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

ul.dropdown-menu .link > a {
  display: block;
  padding: 3px 20px;
  color: #333;
  text-decoration: none;

  &:hover {
    background-color: #E2E2E2;
  }
}

div.navbar div.resources {
  padding: 15px;
}
