<h2>
  On this map you can explore your neighbourhood
</h2>

<%= react_component("InteractiveMap", %{minX: @min_x, maxX: @max_x,
                                        minY: @min_y, maxY: @max_y,
                                        villas: @villas}) %>
