<h1><%= @report.title %> <small><%= @report.delivered_at %></small></h1>

<h2>The <%= @report.data.winner %> has won.</h2>

<h3>The attacker</h3>

<%= render "_units.html", units: @report.data.attacker,
                          losses: @report.data.attacker_losses %>

<h3>The defender</h3>

<%= render "_units.html", units: @report.data.defender,
                          losses: @report.data.defender_losses %>
