<table class="table table-striped units">
  <tr>
    <th></th>
    <th><%= :unit_1 %></th>
    <th><%= :unit_2 %></th>
  </tr>
  <tr>
    <td>Units</td>
    <td><%= @units.unit_1 %></td>
    <td><%= @units.unit_2 %></td>
  </tr>
  <tr>
    <td>Losses</td>
    <td><%= @losses.unit_1 %></td>
    <td><%= @losses.unit_2 %></td>
  </tr>
</table>
