<table class="table table-striped units">
  <tr>
    <th></th>
    <%= for u <- LaFamiglia.Unit.all do %>
      <th><%= u.key %></th>
    <% end %>
  </tr>
  <tr>
    <td>Units</td>
    <%= for u <- LaFamiglia.Unit.all do %>
      <td><%= @units[u.key] %></td>
    <% end %>
  </tr>
  <tr>
    <td>Losses</td>
    <%= for u <- LaFamiglia.Unit.all do %>
      <td><%= @losses[u.key] %></td>
    <% end %>
  </tr>
</table>
